/* new insertion #1 */

.mainFooter {
    width: 100%;
    background-color: #171717;
}


/*................................thirty_one_black_dark .......................*/

section.thirty_one_black_dark {
    width: 1080px;
    display: grid;
    text-align: left;
    column-gap: 10px;
    grid-template-columns: 40% 20% 20% 20%;
    margin: auto;
    background-color: #171717;
    color: #555555;
    /* padding: 20px 65px 20px 90px; */
}

section.thirty_one_black_dark div:nth-child(1) p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px;
    padding: 10px 0 10px 0;
    line-height: 2em;
}

section.thirty_one_black_dark div:nth-child(1) p:nth-child(1) {
    position: relative;
    Left: -2px;
}

section.thirty_one_black_dark div:nth-child(1) p img {
    height: 50px;
    width: 50px;
}

section.thirty_one_black_dark div:nth-child(1) p:nth-child(2) {
    position: relative;
    Left: 3px;
}

section.thirty_one_black_dark div:nth-child(1) a:nth-child(5) {
    text-decoration: none;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    border: 1px solid #555555;
    padding: 12px 15px;
    position: relative;
    left: 12px;
}

section.thirty_one_black_dark div:nth-child(1) a:nth-child(5)::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 165px;
    bottom: 1px;
    background-color: rgba(85, 85, 85, 0.23);
    transition: all 0.3s;
}

section.thirty_one_black_dark div:nth-child(1) a:nth-child(5):hover::before {
    right: 1px;
    transition: all 0.3s;
}

section.thirty_one_black_dark div:nth-child(2) ul,
section.thirty_one_black_dark div:nth-child(3) ul,
section.thirty_one_black_dark div:nth-child(4) ul {
    list-style-type: none;
}

section.thirty_one_black_dark div:nth-child(2) ul li,
section.thirty_one_black_dark div:nth-child(3) ul li,
section.thirty_one_black_dark div:nth-child(4) ul li {
    margin: 20px 0;
    text-transform: capitalize;
}

section.thirty_one_black_dark div:nth-child(2) ul li a,
section.thirty_one_black_dark div:nth-child(3) ul li a,
section.thirty_one_black_dark div:nth-child(4) ul li a {
    text-decoration: none;
    color: #555555;
}


/*................................thirty_one_black_dark.......................*/


/* new insertion #1 */


/*...................footer...................*/

.poooof {
    display: none;
}

.sub_footer {
    /* display: flex; */
    /* grid-template-columns: 50% 50%; */
    background-color: #171717;
    color: #555555;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px 20px 52px;
}

.sub_footer div {
    display: flex;
    position: relative;
    bottom: 0;
    z-index: 1;
    color: #555555;
    clear: both;
    align-items: center;
}

.sub_footer div:nth-child(1) {
    justify-content: space-around;
    width: 540px;
    margin: auto;
    /* border: 2px solid pink; */
    position: relative;
    align-items: center;
}

.sub_footer div:nth-child(1) p:nth-child(2) {
    transform: translateY(2.5px);
}

.sub_footer div:nth-child(2) {
    justify-content: end;
    width: 540px;
    /* border: 2px solid pink; */
    margin: auto;
    transform: translateY(-5.5px);
}

.sub_footer a {
    color: #555555;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin-top: 12.5px;
}

.fIcons {
    width: 25px;
    transform: translateY(3px);
    margin: 0 15px;
}

.fIcon {
    width: 20px;
    transform: translateY(3px);
}


/* tryout .sub_footer page */

.sub_footer div.tryOut {
    /* background-color: pink; */
    width: 1200px;
    height: 1in;
    margin: auto;
}


/* tryout footer page */


/*...................footer...................*/