            /* .........................thirty two......................... */
            
            section.thirty_two {
                width: 1080px;
                margin: auto;
                padding-top: 150px;
            }
            
            section.thirty_two h2 {
                font-size: 55px;
                /* font-weight: bolder; */
            }
            
            section.thirty_two h2 span {
                font-weight: lighter;
                color: rgb(223, 83, 42);
            }
            
            section.thirty_two p {
                color: #A29FAE;
            }
            /* .........................thirty two......................... */
            /* .........................thirty three......................... */
            
            section.thirty_three {
                padding-top: 100px;
                width: 1080px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 100px;
            }
            
            section.thirty_three img {
                height: 50px;
            }
            
            section.thirty_three div {
                display: grid;
                grid-template-columns: 35% 55%;
                align-items: center;
                width: 210px;
            }
            
            section.thirty_three div img {
                border-radius: 50%;
                width: 50px;
            }
            
            section.thirty_three div p {
                font-size: 12px
            }
            
            section.thirty_three div p span {
                font-weight: bold;
                font-size: 17px;
            }
            /* .........................thirty three......................... */
            /* .........................thirty four......................... */
            
            section.thirty_four {
                height: 900px;
                width: 120%;
                position: relative;
                margin: auto;
                overflow: hidden;
                /* background-color: pink; */
                background-image: url(mid-ground.svg);
                /*background-repeat: no-repeat;
    background-size: cover; */
            }
            
            section.thirty_four img:nth-child(1) {
                position: absolute;
                bottom: 0;
                left: -100px;
                width: 120%;
                height: inherit;
                display: none;
                /* opacsity: 0.5; */
            }
            
            section.thirty_four img:nth-child(2) {
                position: absolute;
                bottom: -300PX;
                margin: auto;
                left: -200px;
                /* opacsity: 0.5; */
            }
            
            section.thirty_four img:nth-child(3) {
                position: absolute;
                bottom: -400px;
                left: -50px;
                height: 1050px;
                /* opacsity: 0.5; */
            }
            
            section.thirty_four img:nth-child(4) {
                position: absolute;
                bottom: -300px;
                left: 400px;
                height: 1100px;
                /* opacsity: 0.5; */
            }
            
            section.thirty_four img:nth-child(5) {
                position: absolute;
                bottom: 0px;
                left: -100px;
                width: 120%;
                z-index: 1;
                /* opacsity: 0.5; */
            }
            /* .........................thirty four......................... */
            /* .........................thirty five......................... */
            
            section.thirty_five {
                width: 1080px;
                display: grid;
                grid-template-columns: 50% 50%;
                /* background-color: pink; */
                margin: auto;
                padding-top: 100px;
            }
            
            section.thirty_five div h2 {
                font-size: 55px;
                text-transform: capitalize;
            }
            
            section.thirty_five div h2 span {
                font-weight: lighter;
                color: rgb(223, 83, 42);
            }
            
            section.thirty_five div p {
                color: #A29FAE;
            }
            /* .........................thirty five......................... */
            /* .........................thirty six......................... */
            
            section.thirty_six {
                width: 1080px;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                justify-content: space-around;
                align-items: center;
            }
            
            section.thirty_six img:nth-child(1) {
                height: 500px;
            }
            
            section.thirty_six img:nth-child(2) {
                height: 450px;
                position: absolute;
                left: 10px;
                bottom: 200px;
            }
            
            section.thirty_six img:nth-child(3) {
                height: 250px;
            }
            
            section.thirty_six img:nth-child(4) {
                height: 150px;
                /* position: absolute;
    left: 600px; */
                transform: translate(200px, -50px);
            }
            /* .........................thirty six......................... */
            /* .........................thirty seven......................... */
            
            section.thirty_seven {
                width: 1080px;
                margin: auto;
                padding-top: 150px;
                text-align: center;
            }
            
            section.thirty_seven h2 {
                font-size: 55px;
                /* font-weight: bolder; */
            }
            
            section.thirty_seven h2 span {
                font-weight: lighter;
                color: rgb(223, 83, 42);
            }
            
            section.thirty_seven p {
                color: #A29FAE;
            }
            /* .........................thirty seven......................... */
            /* .........................thirty eight......................... */
            
            section.thirty_eight {
                width: 1080px;
                margin: auto;
                padding-top: 200px;
                text-align: center;
            }
            
            section.thirty_eight img {
                width: inherit;
                position: relative;
                z-index: 1;
            }
            /* .........................thirty eight......................... */
            /* .........................thirty nine......................... */
            
            section.thirty_nine {
                width: 100%;
                background-color: rgb(237, 180, 162);
                /* z-index: -1; */
            }
            
            section.thirty_nine img:nth-child(1) {
                width: 100%;
                transform: translate(0, -570px);
                /* z-index: -5; */
            }
            
            section.thirty_nine div.sdfgh {
                width: 1080px;
                margin: auto;
                display: grid;
                grid-template-columns: 50% 50%;
                position: relative;
                /* z-index: 1; */
                transform: translate(0, -500px);
                border: 3px dashed pink;
            }
            
            section.thirty_nine div.sdfgh div h2 {
                color: white;
                font-size: 55px;
            }
            
            section.thirty_nine div.sdfgh div h2 span {
                font-weight: lighter;
                color: rgb(223, 83, 42);
            }
            
            section.thirty_nine div.sdfgh div p {
                color: white;
            }
            
            section.thirty_nine div.ytfgh {
                width: 1080px;
                height: auto;
                border: 3px dashed pink;
                position: relative;
                margin: auto;
                bottom: 0;
                text-align: center;
                transform: translate(0, -200px);
            }
            
            section.thirty_nine div.ytfgh img:nth-child(1) {
                width: 490px;
                transform: translate(150px, 150px);
            }
            
            section.thirty_nine div.ytfgh img:nth-child(2) {
                width: 500px;
                transform: translate(-70px, 70px);
            }
            /* .........................thirty nine......................... */
            /* .........................fourty......................... */
            
            section.fourty {
                width: 1080px;
                margin: auto;
                display: grid;
                grid-template-columns: 50% 50%;
            }
            
            section.fourty h2 {
                font-size: 55px;
                text-transform: capitalize;
            }
            
            section.fourty h2 span {
                font-family: llight;
                color: rgb(223, 83, 42);
            }
            /* .........................fourty......................... */
            
            .ifjrm {
                width: 1400px;
                margin: 100px;
                transform: translateX(-200px);
            }
            /* .........................fourty_one......................... */
            
            section.fourty_one {
                width: 1080px;
                margin: auto;
                text-align: center;
                position: relative;
            }
            
            section.fourty_one img[src="pp.png"] {
                width: 150px;
            }
            
            section.fourty_one p {
                font-size: 20px;
                line-height: 2em;
                position: relative;
            }
            
            section.fourty_one p img.ytgh {
                position: absolute;
                bottom: -150px;
                left: 400px;
                z-index: -1;
                opacity: 0.095;
            }
            
            section.fourty_one p b {
                font-size: 25px;
            }
            
            section.fourty_one p span {
                color: #A29FAE;
            }
            
            section.fourty_one p span span {
                font-weight: bold;
            }
            /* .........................fourty_one......................... */
            /* .........................fourty_two......................... */
            
            section.fourty_two {
                background-color: #F7F5F2;
                width: 100%;
                height: auto;
                padding: 100px 0 100px 0;
                position: relative;
            }
            
            section.fourty_two div.iuyhj {
                width: 1080px;
                margin: auto;
                display: grid;
                grid-template-columns: 50% 50%;
                position: relative;
            }
            
            section.fourty_two div.iuyhj div.fghio h2 {
                font-size: 55px;
            }
            
            section.fourty_two div.iuyhj div.fghio h2 span {
                font-family: llight;
                color: #E2643F;
            }
            
            section.fourty_two div.iuyhj div.fghio p {
                text-wrap: wrap;
                line-break: loose;
                color: #A29FAE;
                line-height: 2em;
            }
            
            section.fourty_two div.phoneHolder {
                position: relative;
                width: 1080px;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                z-index: 1;
                transform: translate(0, 150px);
            }
            
            section.fourty_two div.phoneHolder img:nth-child(1) {
                width: 600px;
            }
            
            section.fourty_two div.phoneHolder img:nth-child(2) {
                position: absolute;
                transform: translate(300px, 100px);
                width: 550px;
            }
            
            section.fourty_two div.phoneHolder img:nth-child(3) {
                position: absolute;
                transform: translate(600px, 200px);
                width: 500px;
            }
            /* .........................fourty_two......................... */
            /* .........................fourty_three......................... */
            
            section.fourty_three {
                width: 100%;
                height: auto;
                background-color: #E2AB99;
                /* position: relative; */
                padding: 400px 0 100px 0;
                transform: translate(0, -200px);
            }
            
            section.fourty_three div.oiuj {
                position: relative;
                width: 1080px;
                margin: auto;
                display: grid;
                grid-template-columns: 50% 50%;
                /* border: 1px dashed pink; */
                color: white;
                padding-bottom: 150px;
                gap: 50px;
            }
            
            section.fourty_three div.oiuj div {
                border: 3px dashed pink;
            }
            
            section.fourty_three div.oiuj h2 {
                font-size: 55px;
            }
            
            section.fourty_three div.oiuj p {
                line-height: 2em;
                text-wrap: stable;
                font-size: 15px;
            }
            
            section.fourty_three div.oiuj div.sjo {
                grid-column-start: 0;
                grid-column-end: 2;
            }
            
            section.fourty_three div.oiuj div.sjo img {
                transform: translate(-80px, 150px);
            }
            
            section.fourty_three div.sjo {
                width: 1080px;
                margin: auto;
                position: relative;
                text-align: left;
            }
            
            section.fourty_three div.sjo img {
                width: 1500px;
                transform: translate(-50px, 0);
            }
            /* .........................fourty_three......................... */
            /* .........................fourty_four......................... */
            
            section.fourty_four {
                width: 1080px;
                margin: auto;
                display: grid;
                grid-template-columns: 50% 50%;
                column-gap: 20px;
                row-gap: 100px;
                position: relative;
            }
            
            section.fourty_four div {
                border: 3px dashed pink;
            }
            
            section.fourty_four div:last-child {
                width: 200%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: end;
            }
            
            section.fourty_four div:last-child img {
                width: 400px;
            }
            /* .........................fourty_four......................... */
            /* .........................fourty_six......................... */
            
            section.fourty_six {
                width: 100%;
                height: auto;
                position: relative;
                background-color: #0F0928;
                color: white;
                padding: 150px 0 150px 0;
            }
            
            section.fourty_six div.tyj {
                width: 1080px;
                margin: auto;
                position: relative;
                display: grid;
                grid-template-columns: 50% 50%;
                padding: 0 0 100px 0;
                row-gap: 100px;
                /* border: 1px dashed pink; */
            }
            
            section.fourty_six div.tyj h2 {
                font-size: 55px;
            }
            
            section.fourty_six div.tyj h2 span {
                font-family: llight;
            }
            
            section.fourty_six div.tyj p {
                line-height: 2em;
                text-wrap: pretty;
                color: #A29FAE;
                font-size: 20px;
            }
            
            section.fourty_six div.oik {
                width: 1080px;
                margin: auto;
                position: relative;
                /* border: 1px dashed pink; */
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 0 150px 0;
            }
            
            section.fourty_six div.oik img {
                width: 300px;
            }
            
            section.fourty_six div.tyj p.yuh {
                font-weight: bold;
                font-size: 13px;
                color: white;
            }
            
            section.fourty_six div.tyj p.fhqw {
                color: white;
                display: flex;
                justify-content: space-between;
            }
            /* .........................fourty_six......................... */
            /* .........................fourty_seven......................... */
            
            section.fourty_seven {
                width: 1080px;
                margin: auto;
                position: relative;
                display: grid;
                grid-template-columns: 50% 50%;
                padding: 150px 0 150px 0;
            }
            
            section.fourty_seven h2 {
                font-size: 55px;
            }
            
            section.fourty_seven div {
                border: 3px dashed pink;
            }
            
            section.fourty_seven h2 span {
                font-family: llight;
                color: #E2643F;
            }
            
            section.fourty_seven p {
                line-height: 2em;
                text-wrap: pretty;
                color: #A29FAE;
                font-size: 20px;
            }
            /* .........................fourty_seven......................... */
            /* .........................fourty_eight......................... */
            
            section.fourty_eight {
                width: 1080px;
                margin: auto;
                position: relative;
                display: grid;
                grid-template-columns: 50% 50%;
                padding: 150px 0 150px 0;
                column-gap: 50px;
                row-gap: 200px;
            }
            
            section.fourty_eight div {
                border: 3px dashed pink;
            }
            
            section.fourty_eight p {
                line-height: 2em;
                text-wrap: pretty;
                color: #A29FAE;
                font-size: 20px;
            }
            
            section.fourty_eight hr {
                width: 550px;
            }
            
            section.fourty_eight div:last-child {
                width: 200%;
                padding: 20px;
                text-align: center;
            }
            
            section.fourty_eight div:last-child img {
                width: 600px;
            }
            /* .........................fourty_eight......................... */
            /* .........................fourty_nine......................... */
            
            section.fourty_nine {
                width: 1080px;
                margin: auto;
                position: relative;
                display: grid;
                grid-template-columns: 50% 50%;
                column-gap: 50px;
                row-gap: 100px;
            }
            
            section.fourty_nine div {
                border: 3px dashed pink;
            }
            
            section.fourty_nine div:nth-child(2) video {
                width: 500px;
                margin: auto;
            }
            
            section.fourty_nine div:nth-child(3) {
                width: 200%;
                text-align: center;
            }
            
            section.fourty_nine div:nth-child(3) video {
                width: 800px;
                height: 500px;
                margin: auto;
            }
            
            section.fourty_nine h2 {
                font-size: 55px;
            }
            
            section.fourty_nine h2 span {
                font-family: llight;
                color: #E2643F;
            }
            /* .........................fourty_nine......................... */
            /* .........................fifty......................... */
            
            section.fifty {
                width: 1080px;
                display: block;
                position: relative;
                margin: auto;
                text-align: center;
            }
            
            section.fifty h3 {
                font-family: llight;
                font-size: 55px;
                color: rgb(48, 227, 41);
            }
            
            section.fifty h2 {
                font-size: 55px;
            }
            
            section.fifty p {
                font-size: 15px;
                font-family: llight;
                line-height: 2em;
                text-wrap: pretty;
                width: 50%;
                margin: auto;
            }
            
            section.fifty a {
                text-decoration: none;
                color: white;
                background-color: rgb(48, 227, 41);
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 15px;
                width: 250px;
                margin: auto;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 3px;
                padding: 12px 15px;
                position: relative;
            }
            
            section.fifty a img {
                height: 30px;
            }
            /* .........................fifty......................... */