@font-face {
    font-family: poppins;
    src: url('Poppins-Regular.ttf');
}

* {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: poppins;
}

p {
    font-size: 15px;
}

body {
    width: 100%;
    background-color: #F1F1F1;
    margin: 0;
    padding: none;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}


/*.................nav bar.......................*/

nav {
    display: grid;
    grid-template-columns: 60% 40%;
}


/*logo*/

nav .left_side img {
    width: 60px;
    height: 60px;
    position: relative;
    left: 90px;
    top: 30px;
}


/*logo*/


/* menue*/

nav .right_side ul {
    list-style-type: none;
    display: inline-flex;
    position: relative;
    right: 90px;
    top: 30px;
    font-size: 15px;
    text-align: right;
}

nav .right_side ul li a {
    text-decoration: none;
    padding: 12px 15px;
    margin: auto 5px;
    color: black;
}


/*menue*/


/*.................nav bar.......................*/


/*.................section two......................*/

section.two {
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 5%;
}


/*.two_left*/

.two_left {
    position: relative;
    left: 120px;
    margin-top: 0;
    transform: translateY(-30px);
}

.two .two_left h1 {
    font-size: 6em;
    font-weight: bolder;
}

.two .two_left h1:last-of-type {
    text-indent: 1.5em;
    margin-top: 0;
    padding-top: 0;
    transform: translateY(-100px);
}

.two .two_left h3 {
    color: #E50F0F;
}

.two .two_left p {
    color: #555555;
}

.two .two_left label {
    color: #555555;
    border: 2px solid#555555;
    padding: 12px;
    border-radius: 20px;
}

.two .two_left button {
    font-size: 17px;
    color: white;
    background-color: #E50F0F;
    padding: 12px;
    border-radius: 25px;
    width: 120px;
    border: none;
}


/*.two_left*/


/*two_right*/

.two .two_right {
    transform: translateY(170px);
}

.two .two_right {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5px;
}

.two .two_right img {
    width: 250px;
}

.two .two_right img.img1 {
    border-top-right-radius: 130px;
    border-bottom-left-radius: 130px;
    height: 350px;
}

.two .two_right img.img2 {
    border-top-left-radius: 130px;
    border-bottom-left-radius: 130px;
    height: 250px;
    transform: translate(-20px, 250px);
}

.two .two_right img.img3 {
    border-top-left-radius: 130px;
    height: 300px;
}


/*two_right*/


/*the background*/

.grid {
    display: grid;
    grid-template-columns: 15% 22.5% 25% 22.5% 15%;
    background-color: #CFCFCF;
    width: 100%;
    height: 150%;
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: -1;
}

.min-grid {
    border-left: 1px solid #9f9f9f;
}


/*.min-grid:nth-child(3) {
    background-color: white;
    background-position: top;
*/

#short-one {
    height: 310px;
    background-color: #fff;
    position: relative;
    top: 0;
    right: 50px;
    width: 260px;
    border-bottom-left-radius: 150px;
}


/*the background*/


/*.................section two......................*/


/*...............................................................BETA-AREA...............................................................*/

.beta-area {
    transform: translateY(130px);
    display: block;
    width: 100%;
    background-color: #171717;
}


/*.................section three......................*/

.three {
    display: block;
    width: 100%;
    padding: 5px 0;
    background-color: #E50F0F;
    position: relative;
}

section.three img {
    margin: 0 50px;
    height: 60px;
}


/*.................section three......................*/


/*.................sectioN four......................*/

section.four {
    position: relative;
    left: 5%;
    margin: auto;
    overflow: hidden;
}

section.four h2 {
    color: white;
    font-size: 5em;
    position: relative;
}

section.four h2::after {
    content: "";
    border-top: 1.5px solid #555555;
    padding: 0 100px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 550px;
    margin: 0;
}

section.four p {
    display: block;
    color: #555555;
    transform: translateY(-50px);
}


/*LIST*/

section.four .main-list {
    list-style-type: none;
    color: #555555;
    font-size: 2.5em;
    display: block;
    width: 80%;
    list-style-position: outside;
}

section.four .main-list li.main-li {
    border-bottom: 2px solid #555555;
    width: 100%;
    position: relative;
    padding: 25px 12px;
    margin-top: 30px;
}

section.four .main-list li.main-li::after {
    content: url(arrow.png);
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 15px 20px;
}

section.four .main-list li.main-li ul {
    display: none;
}

section.four .main-list li.main-li:hover {
    background-color: #555555;
    color: white;
    font-size: 1.01em;
    position: relative;
    border: none;
    transition: all 0.2s;
    transition-timing-function: linear;
}

section.four .main-list li.main-li:hover::after {
    content: url(up-arrow.png);
    /*  transform: rotateZ(-45deg);
      
     border-radius: 100%;*/
    background-color: #E50F0F;
    transition: all 0.5s;
    transition-timing-function: linear;
}

section.four .main-list li.view-more {
    margin-top: 40px;
    text-align: center;
}

section.four .main-list li.view-more a {
    color: #555555;
    font-size: 30px;
    text-decoration: none;
    border: 1px solid #F1F1F1;
    padding: 12px 30px;
    border-radius: 30px;
}

section.four .main-list li.view-more a:hover {
    background-color: #E50F0F;
    color: #fff;
    border: none;
    transition: all 0.5s;
}


/*LIST*/


/*.................sectioN four......................*/


/*.................section five......................*/

section.five {
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
    width: 100%;
}


/*left*/

section.five .five_left {
    height: auto;
}

section.five h2 {
    color: white;
    font-size: 5em;
    position: relative;
}

section.five p {
    color: #555555;
}

section.five p::first-letter {
    text-transform: uppercase;
}

section.five p:first-of-type span {
    color: #E50F0F;
    text-transform: uppercase;
}

section.five label {
    display: flex;
    justify-content: space-between;
}

section.five label P span:last-of-type {
    color: white;
    font-size: 50px;
    width: 10px;
}

section.five label p {
    color: white;
}


/*left*/


/*right*/

section.five .five_right {
    transform: translatey(100px);
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

section.five .five_right img.cropped-1 {
    width: 245px;
    height: 510px;
    object-fit: cover;
    object-position: top left;
    transform: translateY(20px);
    border-top-right-radius: 140px;
    border-top-left-radius: 140px;
    border-bottom-right-radius: 140px;
    border-bottom-left-radius: 140px;
}

section.five .five_right img.cropped-2 {
    width: 245px;
    height: 510px;
    object-fit: cover;
    /*  object-position: top right;*/
    border-top-right-radius: 140px;
    border-top-left-radius: 140px;
    border-bottom-right-radius: 140px;
    border-bottom-left-radius: 140px;
}

section.five .five_right img:hover {
    transform: scale(1.01, 1.01);
    transition: all 0.2s;
}


/*right*/


/*.................section five......................*/


/*.................section six......................*/

section.six {
    position: relative;
    left: 5%;
    width: 90%;
    display: block;
}

section.six h2 {
    color: white;
    font-size: 5em;
    position: relative;
}

section.six h2::first-letter {
    text-transform: uppercase;
}

section.six p {
    color: #555555;
}


/*left*/

section.six six_left {
    display: block;
    position: relative;
}

section.six six_left img {
    position: relative;
    z-index: -1;
    width: 80%;
    margin: auto;
    text-align: center;
}

section.six ul {
    position: relative;
    list-style-type: none;
    text-align: center;
    top: -750px;
    /*   width: 90%;
    height: 560px;
    margin: auto;
    display: block;
    background-image: url(background.png);
    background-size: cover;
    background-position: top left;*/
}

.six-left-li {
    position: absolute;
    color: white;
    padding: 5px 9px;
    background-image: linear-gradient(to right, #B21010, #877171);
    width: 100px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
}

.six-left-li:nth-child(1) {
    /* transform: translate(550%, 250%);*/
    left: 575px;
}

.six-left-li:nth-child(2) {
    /*
        transform: translate(250%, 250%);
    */
    left: 150px;
    top: 150px;
}

.six-left-li:nth-child(3) {
    /**
        transform: translate(610%, 650%);
    */
    left: 660px;
    top: 300px;
}

.six-left-li:nth-child(4) {
    /**
        transform: translate(410%, 850%);
    */
    left: 400px;
    top: 500px;
}

.six-left-li:nth-child(5) {
    /**
        transform: translate(250%, 980%);
    */
    left: 100px;
    top: 570px;
}


/*left*/


/*.................section six......................*/


/*.................section seven......................*/

section.seven {
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
}

section.seven h2 {
    color: white;
    font-size: 5em;
    position: relative;
}

section.seven h2::first-letter {
    text-transform: capitalize;
}

section.seven p {
    color: #555555;
}

section.seven p::first-letter {
    text-transform: uppercase;
}

section.seven div.flex_box div {
    width: 210px;
    margin: 10px;
    position: relative;
}

section.seven div.flex_box div img {
    width: 200px;
    height: 250px;
    filter: grayscale(70%);
    margin: 10px;
}

section.seven div.flex_box div p {
    position: absolute;
}

section.seven div.flex_box div p:first-of-type {
    bottom: 25px;
    left: 15px;
    font-weight: bold;
    color: #fff;
}

section.seven div.flex_box div p:last-of-type {
    bottom: 5px;
    left: 15px;
}

section.seven div.flex_box img:hover {
    filter: none;
    transition: all 0.3s;
    transition-timing-function: linear;
}

section.seven div.flex_box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


/*.................section seven......................*/

hr {
    margin-left: 0;
    margin-block-end: 0;
    background-color: #555555;
    width: 100%;
}


/*.................section eight......................*/

section.eight {
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
}

section.eight h2 {
    color: white;
    font-size: 5em;
    position: relative;
}

section.eight h2::first-letter {
    text-transform: capitalize;
}

section.eight p {
    color: #555555;
}


/*SLIDE*/

.slide-container {
    margin-top: 50px;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.slide {
    margin: auto;
    height: 400px;
    width: 400px;
    flex: 1;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.slide p.slim {
    color: white;
    position: absolute;
    left: 130px;
    top: 220px;
    visibility: hidden;
}

.slide p span {
    font-weight: 600;
    font-size: 25px
}

.slide img {
    margin: auto;
    width: 200px;
    height: 200PX;
    border-radius: 10px;
}

.slide img.active {
    transform: scale(2);
    transition: all 1s ease-in-out;
    /* Increase the size of the active (center) image */
    align-self: center;
    align-items: center;
    /* To ensure it's displayed in front of the other images */
}

.slide.active p.slim {
    visibility: visible;
}

.buttons {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: 60%;
    width: 100%;
}

.buttons button {
    margin: 0 5px;
    border-radius: 50%;
    background-color: #555555;
    color: #fff;
    height: 50px;
    border: none;
    width: 50px;
}

.buttons button:nth-child(1) {
    position: inherit;
    top: 0;
    left: 0;
}

.buttons button:nth-child(2) {
    position: inherit;
    top: 0;
    right: 0;
}


/*SLIDE*/


/*.................section eight......................*/


/*.................section nine......................*/

section.nine p.nine {
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(131, 56, 201);
}

section.nine p span:nth-child(1) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(2) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(3) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(4) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(5) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(6) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(7) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.6s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(8) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.7s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(9) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.8s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(10) {
    animation-name: colorChanger;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-duration: 12s;
    animation-delay: 0.9s;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(11) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.10s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-iteration-count: infinite;
}


/*.................section nine......................*/


/*...................section ten...................*/

section.ten {
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
}

section.ten h2 {
    color: white;
    font-size: 2.5em;
    position: relative;
}

section.ten h2::before {
    content: "";
    padding: 0 40px;
    border-top: 1px solid #555555;
    position: relative;
    top: 30px;
}

section.ten h2::first-letter {
    text-transform: capitalize;
}

section.ten p {
    color: #555555;
}

section.ten div:first-of-type {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
}


/*
section.ten div.second-slider {
    width: fit-content;
}
*/

section.ten div.second-slide img {
    height: 500px;
    width: 470px;
}

section.ten div:first-child {
    display: inline-block;
}

section.ten h3 {
    color: white;
    font-size: 4em;
    text-transform: capitalize;
    position: relative;
    font-weight: 1500;
    margin-top: 34%;
}

section.ten h3:last-child {
    text-align: left;
}

section.ten div:first-child {
    display: inline-block;
    text-align: center;
}

section.ten div img {
    width: 50px;
    transform: rotateZ(90deg);
    text-align: center;
}

section.ten aside {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}

section.ten aside span {
    align-self: center;
    align-items: flex-end;
    position: relative;
    margin-right: 10px;
    font-size: 5em;
    color: white;
}


/*...................section ten...................*/


/*...................section eleven...................*/

section.eleven {
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
}

section.eleven ul {
    text-align: right;
}

section.eleven ul li {
    display: inline-block;
    color: white;
    padding: 5px 9px;
    width: auto;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
    border: 3px solid #555555;
}

section.eleven ul li img {
    position: relative;
}


/*...................section eleven...................*/


/*...................section twelve...................*/

section.twelve {
    margin-top: 120px;
    width: 100%;
    text-align: center;
}

section.twelve img {
    width: 60px;
    height: 60px;
}


/*...................section twelve...................*/


/*...................footer...................*/

footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 0;
    z-index: 1;
    color: #877171;
}

footer a {
    color: #877171;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin-top: 12.5px;
}


/*...................footer...................*/


/*...............................................................BETA-AREA...............................................................*/


/*---ANIMATIONS---*/

@keyframes colorChanger {
    25% {
        color: rgb(8, 8, 196);
    }
    50% {
        color: blue;
    }
    75% {
        color: blueviolet;
    }
    100% {
        color: rgb(166, 88, 239);
    }
}