@font-face {
    font-family: poppins;
    src: url('Poppins-Regular.ttf');
}

@font-face {
    font-family: blck;
    src: url("Poppins-Bold.ttf");
}

* {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: poppins;
}

p {
    font-size: 15px;
}

body {
    /* width: 100%; */
    background-color: #F1F1F1;
    margin: 0;
    padding: none;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}

.service_layout {
    margin: auto;
    /* background-color: blue; */
}


/*.................nav bar.......................*/

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav_slide {
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 5;
    box-shadow: 1px 0 5px rgb(190, 180, 180);
    color: #000000;
}

.work_nav {
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1;
    box-shadow: 1px 0 5px rgb(190, 180, 180);
}


/*logo*/

nav .left_side img {
    width: 52px;
    height: 52px;
    transform: translateX(100px);
}


/*logo*/


/* menue*/

nav .right_side ul {
    list-style-type: none;
    display: inline-flex;
    /* position: relative;
right: 90px;
top: 30px; */
    font-size: 15px;
    text-align: right;
}

nav .right_side {
    text-align: left;
}

nav .right_side ul li a {
    text-decoration: none;
    padding: 12px 15px;
    margin: auto 5px;
    color: #171717;
}

.dre {
    display: none;
}


/*menue*/


/*.................nav bar.......................*/


/*.................section two......................*/

section.two {
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 5%;
}


/*.two_left*/

.two_left {
    position: relative;
    left: 120px;
    margin-top: 0;
    transform: translateY(-30px);
}

.two .two_left h1 {
    font-size: 6em;
    font-weight: bolder;
}

.two .two_left h1:last-of-type {
    text-indent: 1.5em;
    margin-top: 0;
    padding-top: 0;
    transform: translateY(-100px);
}

.two .two_left h3 {
    color: #E50F0F;
}

.two .two_left p {
    color: #555555;
}

.two .two_left label {
    color: #555555;
    border: 2px solid#555555;
    padding: 12px;
    border-radius: 20px;
}

.two .two_left button {
    font-size: 17px;
    color: white;
    background-color: #E50F0F;
    padding: 12px;
    border-radius: 25px;
    width: 120px;
    border: none;
}


/*.two_left*/


/*two_right*/

.two .two_right {
    transform: translateY(170px);
}

.two .two_right {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5px;
}

.two .two_right img {
    width: 250px;
}

.two .two_right img.img1 {
    border-top-right-radius: 130px;
    border-bottom-left-radius: 130px;
    height: 350px;
}

.two .two_right img.img2 {
    border-top-left-radius: 130px;
    border-bottom-left-radius: 130px;
    height: 250px;
    transform: translate(-20px, 250px);
}

.two .two_right img.img3 {
    border-top-left-radius: 130px;
    height: 300px;
}


/*two_right*/


/*the background*/

.grid {
    display: grid;
    grid-template-columns: 15% 22.5% 25% 22.5% 15%;
    background-color: #CFCFCF;
    width: 100%;
    height: 150%;
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: -1;
}

.min-grid {
    border-left: 1px solid #9f9f9f;
}


/*.min-grid:nth-child(3) {
    background-color: white;
    background-position: top;
*/

#short-one {
    height: 310px;
    background-color: #fff;
    position: relative;
    top: 0;
    right: 50px;
    width: 260px;
    border-bottom-left-radius: 150px;
}


/*the background*/


/*.................section two......................*/


/*...............................................................BETA-AREA...............................................................*/

.beta-area {
    transform: translateY(100px);
    display: block;
    width: 100%;
    background-color: #171717;
    overflow: hidden;
}


/*.................section three......................*/

.three {
    display: block;
    width: 100%;
    padding: 5px 0;
    background-color: #E50F0F;
    position: relative;
}

section.three img {
    margin: 0 50px;
    height: 60px;
}


/*.................section three......................*/


/*.................sectioN four......................*/

section.four {
    position: relative;
    left: 5%;
    margin: auto;
    overflow: hidden;
}

section.four h2 {
    color: white;
    font-size: 5em;
    position: relative;
}

section.four h2::after {
    content: "";
    border-top: 1.5px solid #555555;
    padding: 0 100px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 550px;
    margin: 0;
}

section.four p {
    display: block;
    color: #555555;
    transform: translateY(-50px);
    text-wrap: wrap;
    padding: 20px;
}


/*LIST*/

section.four .main-list {
    list-style-type: none;
    color: #555555;
    font-size: 2.5em;
    display: block;
    width: 80%;
    list-style-position: outside;
}

section.four .main-list li.main-li {
    border-bottom: 2px solid #555555;
    width: 100%;
    position: relative;
    padding: 25px 12px;
    margin-top: 30px;
}

section.four .main-list li.main-li::after {
    content: url(arrow.png);
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 15px 20px;
}

section.four .main-list li.main-li ul {
    display: none;
}

section.four .main-list li.main-li:hover {
    background-color: #555555;
    color: white;
    font-size: 1.01em;
    position: relative;
    border: none;
    transition: all 0.2s;
    transition-timing-function: linear;
}

section.four .main-list li.main-li:hover::after {
    content: url(up-arrow.png);
    /*  transform: rotateZ(-45deg);
      
     border-radius: 100%;*/
    background-color: #E50F0F;
    transition: all 0.5s;
    transition-timing-function: linear;
}

section.four .main-list li.view-more {
    margin-top: 40px;
    text-align: center;
}

section.four .main-list li.view-more a {
    color: #555555;
    font-size: 30px;
    text-decoration: none;
    border: 1px solid #F1F1F1;
    padding: 12px 30px;
    border-radius: 30px;
}

section.four .main-list li.view-more a:hover {
    background-color: #E50F0F;
    color: #fff;
    border: none;
    transition: all 0.5s;
}


/*LIST*/


/*.................sectioN four......................*/


/*.................section five......................*/

section.five {
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
    width: 100%;
}


/*left*/

section.five .five_left {
    height: auto;
}

section.five h2 {
    color: white;
    font-size: 5em;
    position: relative;
}

section.five p {
    color: #555555;
}

section.five p::first-letter {
    text-transform: uppercase;
}

section.five p:first-of-type span {
    color: #E50F0F;
    text-transform: uppercase;
}

section.five label {
    display: flex;
    justify-content: space-between;
}

section.five label P span:last-of-type {
    color: white;
    font-size: 50px;
    width: 10px;
}

section.five label p {
    color: white;
}


/*left*/


/*right*/

section.five .five_right {
    transform: translatey(100px);
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

section.five .five_right img.cropped-1 {
    width: 245px;
    height: 510px;
    object-fit: cover;
    object-position: top left;
    transform: translateY(20px);
    border-top-right-radius: 140px;
    border-top-left-radius: 140px;
    border-bottom-right-radius: 140px;
    border-bottom-left-radius: 140px;
}

section.five .five_right img.cropped-2 {
    width: 245px;
    height: 510px;
    object-fit: cover;
    /*  object-position: top right;*/
    border-top-right-radius: 140px;
    border-top-left-radius: 140px;
    border-bottom-right-radius: 140px;
    border-bottom-left-radius: 140px;
}

section.five .five_right img:hover {
    transform: scale(1.01, 1.01);
    transition: all 0.2s;
}


/*right*/


/*.................section five......................*/


/*.................section six......................*/

section.six {
    position: relative;
    left: 5%;
    width: 90%;
    display: block;
}

section.six h2 {
    color: white;
    font-size: 5em;
    position: relative;
}

section.six h2::first-letter {
    text-transform: uppercase;
}

section.six p {
    color: #555555;
}


/*left*/

section.six six_left {
    display: block;
    position: relative;
}

section.six six_left img {
    position: relative;
    z-index: -1;
    width: 80%;
    margin: auto;
    text-align: center;
}

section.six ul {
    position: relative;
    list-style-type: none;
    text-align: center;
    top: -750px;
    /*   width: 90%;
    height: 560px;
    margin: auto;
    display: block;
    background-image: url(background.png);
    background-size: cover;
    background-position: top left;*/
}

.six-left-li {
    position: absolute;
    color: white;
    padding: 5px 9px;
    background-image: linear-gradient(to right, #B21010, #877171);
    width: 100px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
}

.six-left-li:nth-child(1) {
    /* transform: translate(550%, 250%);*/
    left: 575px;
}

.six-left-li:nth-child(2) {
    /*
        transform: translate(250%, 250%);
    */
    left: 150px;
    top: 150px;
}

.six-left-li:nth-child(3) {
    /**
        transform: translate(610%, 650%);
    */
    left: 660px;
    top: 300px;
}

.six-left-li:nth-child(4) {
    /**
        transform: translate(410%, 850%);
    */
    left: 400px;
    top: 500px;
}

.six-left-li:nth-child(5) {
    /**
        transform: translate(250%, 980%);
    */
    left: 100px;
    top: 570px;
}


/*left*/


/*.................section six......................*/


/*.................section seven......................*/

section.seven {
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
}

section.seven h2 {
    color: white;
    font-size: 5em;
    position: relative;
}

section.seven h2::first-letter {
    text-transform: capitalize;
}

section.seven p {
    color: #555555;
}

section.seven p::first-letter {
    text-transform: uppercase;
}

section.seven div.flex_box div {
    width: 210px;
    margin: 10px;
    position: relative;
}

section.seven div.flex_box div img {
    width: 200px;
    height: 250px;
    filter: grayscale(70%);
    margin: 10px;
}

section.seven div.flex_box div p {
    position: absolute;
}

section.seven div.flex_box div p:first-of-type {
    bottom: 25px;
    left: 15px;
    font-weight: bold;
    color: #fff;
}

section.seven div.flex_box div p:last-of-type {
    bottom: 5px;
    left: 15px;
}

section.seven div.flex_box img:hover {
    filter: none;
    transition: all 0.3s;
    transition-timing-function: linear;
}

section.seven div.flex_box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


/*.................section seven......................*/

hr {
    margin-left: 0;
    margin-block-end: 0;
    background-color: #555555;
    width: 100%;
}


/*.................section eight......................*/

section.eight {
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
}

section.eight h2 {
    color: white;
    font-size: 5em;
    position: relative;
}

section.eight h2::first-letter {
    text-transform: capitalize;
}

section.eight p {
    color: #555555;
}


/*SLIDE*/

.slide-container {
    margin-top: 50px;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.slide {
    margin: auto;
    height: 400px;
    width: 400px;
    flex: 1;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.slide p.slim {
    color: white;
    position: absolute;
    left: 130px;
    top: 220px;
    visibility: hidden;
}

.slide p span {
    font-weight: 600;
    font-size: 25px
}

.slide img {
    margin: auto;
    width: 200px;
    height: 200PX;
    border-radius: 10px;
}

.slide img.active {
    transform: scale(2);
    transition: all 1s ease-in-out;
    /* Increase the size of the active (center) image */
    align-self: center;
    align-items: center;
    /* To ensure it's displayed in front of the other images */
}

.slide.active p.slim {
    visibility: visible;
}

.buttons {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: 60%;
    width: 100%;
}

.buttons button {
    margin: 0 5px;
    border-radius: 50%;
    background-color: #555555;
    color: #fff;
    height: 50px;
    border: none;
    width: 50px;
}

.buttons button:nth-child(1) {
    position: inherit;
    top: 0;
    left: 0;
}

.buttons button:nth-child(2) {
    position: inherit;
    top: 0;
    right: 0;
}


/*SLIDE*/


/*.................section eight......................*/


/*.................section nine......................*/

section.nine p.nine {
    font-family: blck;
    text-transform: uppercase;
    font-weight: 1000;
    text-align: center;
    font-size: 55px;
    font-weight: 1200;
    color: rgb(131, 56, 201);
}

section.nine p span:nth-child(1) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(2) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(3) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(4) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(5) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(6) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(7) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(8) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(9) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(10) {
    animation-name: colorChanger;
    animation-timing-function: ease-in-out;
    animation-duration: 12s;
    animation-delay: 0.9s;
    animation-iteration-count: infinite;
}

section.nine p span:nth-child(11) {
    animation-name: colorChanger;
    animation-duration: 12s;
    animation-delay: 0.10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


/*.................section nine......................*/


/*...................section ten...................*/

section.ten {
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
}

section.ten h2 {
    color: white;
    font-size: 2.5em;
    position: relative;
}

section.ten h2::before {
    content: "";
    padding: 0 40px;
    border-top: 1px solid #555555;
    position: relative;
    top: 30px;
}

section.ten h2::first-letter {
    text-transform: capitalize;
}

section.ten p {
    color: #555555;
}

section.ten div:first-of-type {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
}


/*
section.ten div.second-slider {
    width: fit-content;
}
*/

section.ten div.second-slide img {
    height: 500px;
    width: 470px;
}

section.ten div:first-child {
    display: inline-block;
}

section.ten h3 {
    color: white;
    font-size: 4em;
    text-transform: capitalize;
    position: relative;
    font-weight: 1500;
    margin-top: 34%;
}

section.ten h3:last-child {
    text-align: left;
}

section.ten div:first-child {
    display: inline-block;
    text-align: center;
}

section.ten div img {
    width: 50px;
    transform: rotateZ(90deg);
    text-align: center;
}

section.ten aside {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}

section.ten aside span {
    align-self: center;
    align-items: flex-end;
    position: relative;
    margin-right: 10px;
    font-size: 5em;
    color: white;
}


/*...................section ten...................*/


/*...................section eleven...................*/

section.eleven {
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
}

section.eleven ul {
    text-align: right;
}

section.eleven ul li {
    display: inline-block;
    color: white;
    padding: 5px 9px;
    width: auto;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
    border: 3px solid #555555;
}

section.eleven ul li img {
    position: relative;
}


/*...................section eleven...................*/


/*...................section twelve...................*/

section.twelve {
    margin-top: 120px;
    width: 100%;
    text-align: center;
}

section.twelve img {
    width: 60px;
    height: 60px;
}


/*...................section twelve...................*/


/* new insertion #1 */

#mainFooter {
    width: 100%;
    background-color: white;
}


/*................................thirty_one_black .......................*/

section.thirty_one_black {
    width: 1080px;
    display: grid;
    text-align: left;
    column-gap: 10px;
    grid-template-columns: 40% 20% 20% 20%;
    margin: auto;
    background-color: white;
    color: black;
    /* padding: 20px 65px 20px 90px; */
}

section.thirty_one_black div:nth-child(1) p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px;
    padding: 10px 0 10px 0;
    line-height: 2em;
}

section.thirty_one_black div:nth-child(1) p:nth-child(1) {
    position: relative;
    Left: -2px;
}

section.thirty_one_black div:nth-child(1) p img {
    height: 50px;
    width: 50px;
}

section.thirty_one_black div:nth-child(1) p:nth-child(2) {
    position: relative;
    Left: 3px;
}

section.thirty_one_black div:nth-child(1) a:nth-child(5) {
    text-decoration: none;
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    border: 1px solid #555555;
    padding: 12px 15px;
    position: relative;
    left: 12px;
}

section.thirty_one_black div:nth-child(1) a:nth-child(5)::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 165px;
    bottom: 1px;
    background-color: rgba(85, 85, 85, 0.23);
    transition: all 0.3s;
}

section.thirty_one_black div:nth-child(1) a:nth-child(5):hover::before {
    right: 1px;
    transition: all 0.3s;
}

section.thirty_one_black div:nth-child(2) ul,
section.thirty_one_black div:nth-child(3) ul,
section.thirty_one_black div:nth-child(4) ul {
    list-style-type: none;
}

section.thirty_one_black div:nth-child(2) ul li,
section.thirty_one_black div:nth-child(3) ul li,
section.thirty_one_black div:nth-child(4) ul li {
    margin: 20px 0;
    text-transform: capitalize;
}

section.thirty_one_black div:nth-child(2) ul li a,
section.thirty_one_black div:nth-child(3) ul li a,
section.thirty_one_black div:nth-child(4) ul li a {
    text-decoration: none;
    color: #000000;
}


/*................................thirty_one_black.......................*/


/* new insertion #1 */


/*...................footer...................*/

.poooof {
    display: none;
}

footer {
    /* display: flex; */
    /* grid-template-columns: 50% 50%; */
    background-color: #ffffff;
    color: black;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px 20px 52px;
}

footer div {
    display: flex;
    position: relative;
    bottom: 0;
    z-index: 1;
    color: black;
    clear: both;
    align-items: center;
}

footer div:nth-child(1) {
    justify-content: space-around;
    width: 540px;
    margin: auto;
    /* border: 2px solid pink; */
    position: relative;
    align-items: center;
}

footer div:nth-child(1) p:nth-child(2) {
    transform: translateY(2.5px);
}

footer div:nth-child(2) {
    justify-content: end;
    width: 540px;
    /* border: 2px solid pink; */
    margin: auto;
    transform: translateY(-5.5px);
}

footer a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin-top: 12.5px;
}

.fIcons {
    width: 25px;
    transform: translateY(3px);
    margin: 0 15px;
}

.fIcon {
    width: 20px;
    transform: translateY(3px);
}


/* tryout footer page */

footer div.tryOut {
    /* background-color: pink; */
    width: 1200px;
    height: 1in;
    margin: auto;
}


/* tryout footer page */


/*...................footer...................*/


/*SERVICES*/

.serviceWorkContact {
    background-color: #171717;
}

.serviceWorkContact nav ul li a {
    color: #ddd;
}


/*WORKS PAGE*/

body.work {
    background-color: rgb(23, 23, 23);
    color: white;
}

body.work div.animated {
    animation-name: backgroundAnimation;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 30px;
    width: 100%;
    height: 113.8%;
    min-height: 600px;
}

body.work div.animated div.work_grid {
    display: grid;
    grid-template-columns: 15% 22.5% 25% 22.5% 15%;
    background-color: rgba(207, 207, 207, 0.5);
    width: 100%;
    height: 113.8%;
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 0;
}

body.work div.animated div.work_grid div.mini_work_grid {
    border-left: 1px solid rgba(159, 159, 159, 0.7);
}


/* body.work nav {
    background-color: rgba(23, 23, 23, 0.3);
    height: auto;
    /* margin-bottom: 30px; */


}
*/
/* body.work nav ul {
    background-color: rgba(23, 23, 23, 0.3);
} */
body.work nav.work ul li a {
    color: #ffffff;
}

/*...................fourteen...................*/
section.fourteen {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section.fourteen div.portfo {
    border: 3px solid #212121;
    padding: 20px;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000;
    margin: 10px;
}
section.fourteen div.portfo:nth-child(1) {
    background-image: url(showcase/image16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section.fourteen div.portfo:nth-child(2) {
    background-image: url(showcase/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section.fourteen div.portfo:nth-child(3) {
    background-image: url(showcase/image15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section.fourteen div.portfo:nth-child(4) {
    background-image: url(showcase/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section.fourteen div.portfo:nth-child(5) {
    background-image: url(showcase/image8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* section.fourteen div.portfo:nth-child(6) {} */
section.fourteen div.portfo:hover {
    border-color: white;
    transition: 0.7s;
    transition-timing-function: ease-out;
    animation-name: background_effect;
    animation-duration: 6s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in;
}

/*beta class/ onclick class*/

/*beta class/ onclick class*/
section.fourteen div.portfo p {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 30px;
    position: relative;
    top: 120px;
    text-shadow: 3px 3px 3px #171717;
}
section.fourteen div.portfo p::after {
    content: url("arrowright.png");
    position: relative;
    left: 10px;
    top: 3px;
}
section.fourteen div.portfo p:hover::after {
    animation-name: click1;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

/* section.fourteen div.portfo div.content {
    width: 900px;
    min-width: 500px;
    padding: 20px;
    position: absolute;
    top: 250px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 15%;
     display: none; 

}*/
section.fourteen div.portfo div.content img {
    width: 400px;
    margin: 10px;
    border-radius: 10px;
}
section.fourteen div.portfo div.content img.head-image {
    width: 900px;
    border-radius: 10px;
}
section.fourteen div.portfo div.content pre {
    width: 500px;
}
*/
/*...................fourteen...................*/

/*...................fifteen...................*/
section.fifteen {
    height: 90%;
    width: 100%;
    min-height: 600px;
    padding: 20px;
    position: relative;
}

/*...................fifteen...................*/

/*WORKS PAGE*/

/*...............................................................BETA-AREA...............................................................*/

/*---ANIMATIONS---*/
@keyframes colorChanger {
    25% {
        color: blue;
    }
    
    50% {
        color: blueviolet;
    }
    
    75% {
        color: rgb(179, 116, 238);
    }
    
    100% {
        color: rgb(230, 221, 238);
    }
}
@keyframes click1 {
    0% {
        position: relative;
        left: 13px;
    }
    
    50% {
        position: relative;
        left: 6.5px;
    }
    
    100% {
        position: relative;
        left: 9px;
    }
}
@keyframes background_effect {
    0% {
        background-repeat: no-repeat;
        background-position: center;
    }
    
    25% {
        background-repeat: repeat;
        background-size: contain;
        background-position: center;
    }
    
    50% {
        background-repeat: repeat;
        background-size: 50px;
    }
    
    75% {
        background-repeat: no-repeat;
        background-size: 200px;
        background-position: center;
    }
    
    100% {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
@keyframes slide_in {
    0% {
        opacity: 0
    }
    
    10% {
        opacity: 0.2;
    }
    
    20% {
        opacity: 0.3;
    }
    
    30% {
        opacity: 0.4;
    }
    
    40% {
        opacity: 0.5;
    }
    
    50% {
        opacity: 0.6;
    }
    
    50% {
        opacity: 0.7;
    }
    
    70% {
        opacity: 0.8;
    }
    
    80% {
        opacity: 0.9;
    }
    
    90% {
        opacity: 1;
    }
}
@keyframes backgroundAnimation {
    0% {
        background-image: url(showcase/image16.jpg);
        background-size: cover;
        background-position: top center;
    }
    
    25% {
        background-image: url(showcase/image4.jpg);
        background-size: cover;
        background-position: top center;
    }
    
    50% {
        background-image: url(showcase/image15.jpg);
        background-size: cover;
        background-position: top center;
    }
    
    75% {
        background-image: url(showcase/image4.jpg);
        background-size: cover;
        background-position: top center;
    }
    
    100% {
        background-image: url(showcase/image8.jpg);
        background-size: cover;
        background-position: top center;
    }
}
@media all and (max-width: 985px) {
    * {
        box-sizing: border-box;
    }
    
    .hardguy {
        transform: translateX(55px);
    }
    /*...................................nav bar....................................*/
    
    .right_side {
        display: none;
    }
    
    .mediaQueryNavList {
        text-align: center;
        /* border: 2px dashed pink; */
        width: 100px;
        position: relative;
        display: inline-block;
    }
    
    .mediaQueryNavList:hover .list_items {
        display: block;
    }
    
    .mediaQueryNavList img {
        width: 50px;
    }
    
    .mediaQueryNavList ul {
        list-style-type: none;
        /* position: relative;
    right: 90px;
    top: 30px; */
        font-size: 15px;
        text-align: center;
        /* border: 2px dashed pink; */
        list-style-position: inside;
        border-radius: 5px;
        padding: 20px 10px;
        z-index: 8;
    }
    
    .list_items {
        position: absolute;
        left: -40vh;
        width: 49vh;
        background-color: rgba(247, 247, 247, 0.9);
        box-shadow: 0 0 30px grey;
        padding-bottom: 50px;
        display: none;
        /* backdrop-filter: blur(10px); */
    }
    
    .mediaQueryNavList ul li {
        margin: 20px auto;
    }
    
    .dre {
        grid-column-end: 3;
        position: relative;
        text-align: right;
        right: 50px;
        display: block;
        z-index: 5;
    }
    
    .mediaQueryNavList ul li a {
        text-decoration: none;
        padding: 12px 15px;
        margin: 20px auto;
        color: #171717;
        font-size: 32px;
    }
    
    .crimson {
        font-size: 26px;
        color: white;
        background-color: green;
        padding: 35px 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        width: 300px;
        margin: auto;
    }
    /*...................................nav bar....................................*/
    /*.............................section two........................*/
    
    section.two {
        display: grid;
        grid-template-columns: 80%;
        gap: 5%;
    }
    
    .two .two_left h1:last-of-type {
        text-indent: 1.5em;
        margin-top: 0;
        padding-top: 0;
        transform: translate(0, -100px);
    }
    
    .two .two_right img {
        display: none;
    }
    /*.............................section two........................*/
    
    section.four {
        left: 1%;
    }
    
    body {
        overflow-x: hidden;
    }
    /*...................footer...................*/
    
    footer {
        /* display: flex; */
        /* grid-template-columns: 50% 50%; */
        background-color: #ffffff;
        color: black;
        justify-content: space-around;
        align-items: center;
        padding: 0 15px 20px 52px;
    }
    
    footer div {
        display: flex;
        position: relative;
        bottom: 0;
        z-index: 1;
        color: black;
        clear: both;
        align-items: center;
    }
    
    footer div:nth-child(1) {
        justify-content: space-around;
        width: 540px;
        margin: auto;
        /* border: 2px solid pink; */
        position: relative;
        align-items: center;
    }
    
    footer div:nth-child(1) p:nth-child(2) {
        transform: translateY(2.5px);
    }
    
    footer div:nth-child(2) {
        justify-content: end;
        width: 540px;
        /* border: 2px solid pink; */
        margin: auto;
        transform: translateY(-5.5px);
    }
    
    footer a {
        color: black;
        text-decoration: none;
        display: inline-block;
        padding: 0;
        margin-top: 12.5px;
    }
    
    .fIcons {
        width: 60px;
        /* transform: translateY(3px); */
        /* margin: 0 15px; */
    }
    
    .fIcon {
        width: 20px;
        transform: translateY(3px);
    }
    /* tryout footer page */
    
    footer div.tryOut {
        /* background-color: pink; */
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        flex-wrap: wrap-reverse;
        text-align: center;
        font-size: 16px;
        justify-content: space-between;
        transform: translateX(-20px);
    }
    
    footer div.tryOut div {
        width: 100%;
    }
    
    footer div.tryOut div:nth-child(1) {
        display: grid;
        grid-template-columns: 100%;
    }
    
    footer div.tryOut div:nth-child(2) {
        padding: 120px;
        display: flex;
        justify-content: space-around;
    }
    
    .cream {
        font-size: 40px;
        text-transform: capitalize;
    }
    
    .poooof {
        display: block;
    }
    /* tryout footer page */
    /*...................footer...................*/
    /* new insertion #1 */
    
    #mainFooter {
        width: 100%;
        background-color: ;
    }
    /*................................thirty_one_black .......................*/
    
    section.thirty_one_black {
        width: 100%;
        display: grid;
        text-align: left;
        column-gap: 10px;
        grid-template-columns: 100%;
        margin: auto;
        background-color: white;
        color: black;
        /* padding: 20px 65px 20px 90px; */
    }
    
    section.thirty_one_black div {
        margin-bottom: 50px;
        padding: 50px;
    }
    
    section.thirty_one_black div p {
        font-size: 20px;
    }
    
    section.thirty_one_black div:nth-child(1) p {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 10px;
        padding: 10px 0 10px 0;
        line-height: 2em;
        font-size: 40px;
    }
    
    section.thirty_one_black div:nth-child(1) p:nth-child(1) {
        position: relative;
        Left: -2px;
    }
    /* section.thirty_one_black div:nth-child(1) p img {
        width: 100px;
        height: 100px;
    } */
    
    section.thirty_one_black div:nth-child(1) p:nth-child(2) {
        position: relative;
        Left: 3px;
    }
    
    section.thirty_one_black div:nth-child(1) a:nth-child(5) {
        text-decoration: none;
        color: #555555;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        border: 1px solid #555555;
        padding: 12px 15px;
        position: relative;
        left: 12px;
    }
    
    section.thirty_one_black div:nth-child(1) a:nth-child(5)::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        right: 165px;
        bottom: 1px;
        background-color: rgba(85, 85, 85, 0.23);
        transition: all 0.3s;
    }
    
    section.thirty_one_black div:nth-child(1) a:nth-child(5):hover::before {
        right: 1px;
        transition: all 0.3s;
    }
    
    section.thirty_one_black div:nth-child(2) ul,
    section.thirty_one_black div:nth-child(3) ul,
    section.thirty_one_black div:nth-child(4) ul {
        list-style-type: none;
    }
    
    section.thirty_one_black div ul li {
        font-size: 16px;
    }
    
    section.thirty_one_black div:nth-child(2) ul li,
    section.thirty_one_black div:nth-child(3) ul li,
    section.thirty_one_black div:nth-child(4) ul li {
        /* margin: 20px 0; */
        text-transform: capitalize;
        margin-bottom: 50px;
        font-size: 16px;
    }
    
    section.thirty_one_black div:nth-child(2) ul li a,
    section.thirty_one_black div:nth-child(3) ul li a,
    section.thirty_one_black div:nth-child(4) ul li a {
        text-decoration: none;
        color: #000000;
    }
    /*................................thirty_one_black.......................*/
    /* new insertion #1 */
    
    nav .left_side img {
        width: 100px;
        height: 100px;
        transform: translateX(100px);
    }
    
    #s_logo {
        width: 100px;
        height: 100px;
    }
}